:root {
    --building-color1: #e8e5e480;
    --building-color2: #7f7f7f;

}


*, ::before, ::after  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit; 
}

.nav-bar {
    background-color: rgba(232,  229, 228, 0.4);
    width: 19%;
    padding: 15px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 30px;
    position: sticky;
    
   
    
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
}


li a:focus {
    background-color: #EAB126
}



.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    margin-top: 120px;
    gap: 40px;
}


.hero-item {
    
}

.item-style {
    font-size: 4rem;
    letter-spacing: -1px;
    line-height: 1.2;
    max-width: 60%;
    text-align: center;
    
}

.item-horizontal {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
    
}

.item-horizontal p {
  padding: 8px 12px;
}
